.appComponent {
    .heroContainer {
        padding-top: 8rem;
    }
    .itemsGrid {
        h1 {
            margin: 5rem 0 3rem 0;
        }
    }
    .savedSongsContainer {
        margin-top: 4rem;
        .titleContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h1 {
            margin-bottom: 3rem;
        }
    }
}