@import "src/styles/_defines";

.header {
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .leftContainer {
            display: flex;
        }
        .rightContainer {
            .searchComponent {
                display: flex;
                position: 'relative';
                border-radius: 3px;
                background-color: white;
                &:hover {
                    background-color: darken(white, 0.25),
                };
                margin-right: 2px;
                margin-left: 0;
                width: '100%';
                .searchIconComponent {
                    padding: 3px;
                    height: 100%;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}